body {
    font-family: 'Garamond';
    margin: 0;
    padding: 0;
    background-color: #EFEED8;
    color: #333;
    min-height: 100vh;
}

header {
    background-color: #778a35;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    font-weight: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin: 0 20px;
}

ul li a {
    color: #363131;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    font-weight: none;
}

section {
    text-align: center;
    padding: 50px 20px;
    min-height: 60vh; /* Adjust content height */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #778a35;
    color: #ebebe8;
    width: 100%;
    position: fixed; /* Changed from absolute to relative */
    bottom: 0;
}

button {
    background-color: #e38da0;
    color: white;
    padding: 15px 30px;
    font-family: 'Garamond';
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add space above the button */
}
.button1 {border-radius: 12px;}
